# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Generated data
data/archive/*
data/processed/*

!data/archive/.gitkeep
!data/archive/sample_sales.csv

!data/processed/.gitkeep
!data/processed/sample_sales.json

# Python cache
*.egg-info/

# Environment variables
.env